<h1>id: <%= @stock.id %> の商品在庫詳細ページ</h1> 

<p><%= @stock.name %>の在庫は<%= @stock.amount %>個です</p>

<%= link_to '一覧に戻る', stocks_path %>
<%= link_to 'この在庫を編集する', edit_stock_path(@stock) %>
<%= link_to 'この在庫を削除する', @stock, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>